{% assign html_string = article.content %}

{% assign pieces = html_string | split: '/products/' %}
{% assign extracted_urls = '' %}

{% for piece in pieces %}
{% unless forloop.first %}
{% assign extracted_url = piece | replace_first: '"', ' ' | truncatewords: 1 | remove_first: '...' %}
{% assign extracted_urls = extracted_urls | append: ', ' | append: extracted_url %}
{% endunless %}
{% endfor %}
{% assign extracted_urls = extracted_urls | remove_first: ', ' | split: ', ' %}
<div id="theGospelShop" class="Container Container--narrow" style="padding-top: 50px; margin-top: 20px">
    <div class="Panel Panel--flush Panel--withArrows" style="border: unset">
        <h2 class="Panel__Title Heading u-h1">The Gospel Shop</h2>
        <div class="Panel__Content">
            <div class="theGospelShop-carousel">
                    {% for extracted_url in extracted_urls %}
                    {% assign product = all_products[extracted_url] %}
                    <div>
                        {{related_collection}}
                        {% render 'product-item', product: product, show_product_info:true, show_labels: true %}
                    </div>
                    {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
jQuery(document).ready(function(){
     jQuery('.theGospelShop-carousel').slick({
      speed: 500,      
      slidesToShow: 4,
      slidesToScroll: 1,
      autoplay: false,
      dots:false,
      infinite: false,
      prevArrow:"<button type='button' class='btn--position slick-prev pull-left'><span class='material-icons'>chevron_left</span></button>",
      nextArrow:"<button type='button' class='btn--position slick-next pull-right'><span class='material-icons'>chevron_right</span></button>",
      responsive: [
    {
        breakpoint: 1024,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 1,
  
        }
      }, 
      {
        breakpoint: 800,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1  
        }
      },  {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }]
    });;
  });
  </script>