<div class="gw-homepage-section">
      <div class="gw-feature-about-container">
  <div class="gw-feature-about-secondary-title gw-feature-about-secondary-title--left">Our Story</div>
  <div class="gw-feature-about-title gw-feature-about-title--top">WHISKEY IS RELIGION</div>
  <div class="gw-feature-about-text-container">
    <div class="gw-feature-about-image">
        <div class="gw-post-image gw-post-image--landscape  ">
    <div class="ip-ratio-box" style="padding-bottom: 150.71770334928%;">
<!-- {% comment %}<img alt="About feature" src="https://cdn.shopify.com/s/files/1/0428/4556/9187/files/Gospel_whikey_hands.png?v=1649837440">{% endcomment %} -->
        <img class="aboutUs-img" alt="About feature" src="https://cdn.shopify.com/s/files/1/0428/4556/9187/files/Gospel_whikey_hands.png?v=1649837440">
    
<!--         <img alt="About feature" data-src="https://cdn.shopify.com/s/files/1/0428/4556/9187/files/Gospel_whikey_hands.png?v=1649837440"data-srcset="https://www.thegospelwhiskey.com/thumbs/feed/launch/about-feature/group-320x482.png 320w, https://www.thegospelwhiskey.com/content/2-feed/launch/2-about-feature/group.png 418w" sizes="212px" class="lazyloaded-simple lazyautosizes lazyloaded" srcset="https://www.thegospelwhiskey.com/thumbs/feed/launch/about-feature/group-320x482.png 320w, https://www.thegospelwhiskey.com/content/2-feed/launch/2-about-feature/group.png 418w" src="https://www.thegospelwhiskey.com/thumbs/feed/launch/about-feature/group-418x630.png"> -->
    </div>  
        </div>
    </div>
    <div class="gw-feature-about-text">
      <p>It is widely believed that whiskey was first distilled for medicinal use by monks and apothecaries in Scotland and Ireland. The distillation of whiskey evolved as it moved from monastic to secular, as it did with the path of migration over hundreds of years. Early Scotch-Irish settlers in the USA used rye to make whiskey because barley didn’t adapt to the North American climate. These conditions are also true for the dry climate of Australia, where we set out to reimagine this original American spirit using 100% Australian rye.</p>    </div>
  </div>
  <div class="gw-feature-about-secondary-title gw-feature-about-secondary-title--right">Our Story</div>
  <div class="gw-feature-about-title gw-feature-about-title--bottom">RYE IS THE GOSPEL</div>
</div>
    </div>
<style>
  #section-{{ section.id }}{
  padding:0;
    background-color: #FCECD5;
  }
  #section-1629179219e5d85c88 > div > div.gw-feature-about-title.gw-feature-about-title--top{
  padding-bottom:0;
  }
  @font-face {
    font-family: 'HerrFoch';
    src: url('{{'HerrFoch.woff2' | asset_url }}') format('woff2');
      }
    
  
 .gw-feature-about-container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #FCECD5;
    position: relative;
    height: 650px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
} 
  .gw-feature-about-secondary-title--left {
    left: 0;
    transform: rotate(90deg);
    transform-origin: left top;
    left: 56px;
}
  .gw-feature-about-title--top {
      padding: 60px 0 0;
  }
  .gw-feature-about-title {
      font-family: "HerrFoch";
      font-size: 55px;
      line-height: 1;
      text-align: center;
      width: 100%;
      padding: 40px 0;

  }

  .gw-feature-about-text-container {
    font-family: 'MagdaRegular';  
      font-size: 16px;
      line-height: 1.2;
      color: #000;
      text-transform: none;
      letter-spacing: 0;
      width: 75%;
      max-width: 820px;
      margin: 0 auto;
      color: #000;
      padding: 0 40px;
      display: flex;
      align-items: center;
  }
  



  .gw-feature-about-image {
    width: 23%;
    padding: 20px;
}
  .ip-ratio-box {
    position: relative;
    height: 0;
    display: block;
    width: 100%;
}
  .lazyloaded.lazyloaded-simple {
      opacity: 1;
      animation: fade-in 0.5s ease;
      animation-fill-mode: forwards;
}
.ip-ratio-box img, .ip-ratio-box iframe, .ip-ratio-box video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}
  .gw-feature-about-text {
    width: 70%;
    margin: 0 auto;
}
  .gw-feature-about-text-container p {
    font-family: 'MagdaRegular';  
      font-size: 16px;
    line-height: 1.2;
    color: #000;
    text-transform: none;
    letter-spacing: 0;
    color: #000;
    text-align: center;
}
  .gw-feature-about-secondary-title--right {
    right: 0;
    transform: rotate(-90deg);
    transform-origin: right top;
    right: 56px;
}

  .gw-feature-about-secondary-title {
      font-family: var(--heading-font-family);
      position: absolute;
      top: 0;
      height: 36px;
      width: 650px;
      margin: 20px 0;
      font-size: 24px;
      text-transform: uppercase;
      color: #000;
      line-height: 1.4;
      letter-spacing: 1.8px;
      text-align: center;
  }
  
  
  .gw-feature-about-title--bottom {
    padding: 0 0 70px;
}
  
  .discover--bordered{
      padding: 25px;
  }
  
  @media only screen and (max-width: 1000px){

      .gw-feature-about-container {
          height: 100%;
          padding: 0 20px;
      }

      .gw-feature-about-secondary-title {
          display: none;
      }

      .gw-feature-about-title {
          font-size: 42px;
      }

      .gw-feature-about-secondary-title {
          display: none;
      }

      .gw-feature-about-image {
      	  width: 50%;
          margin: 0 auto;
          max-width: 160px;
      }

      .gw-feature-about-text {
          width: 100%;
          padding: 20px 0;
      }

      .gw-feature-about-text-container {
          width: 100%;
          flex-direction: column;
          padding: 20px 0px;
      }
      
      .discover--bordered{
          padding: 0 0 5px 0;
      }
      
      
  }
  
  
  
  
</style>
{% schema %}
{
  "name": "About Us",
  "class": "discover--bordered about-us-padding",
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub-heading",
      "default": "RYE IS THE GOSPEL"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "WHISKEY IS RELIGION"
    },
    {
      "type": "liquid",
      "id": "html",
      "label": "HTML content",
      "default": "<p>It is widely believed that whiskey was first distilled for medicinal use by monks and apothecaries in Scotland and Ireland. The distillation of whiskey evolved as it moved from monastic to secular, as it did with the path of migration over hundreds of years. Early Scotch-Irish settlers in the USA used rye to make whiskey because barley didn’t adapt to the North American climate. These conditions are also true for the dry climate of Australia, where we set out to reimagine this original American spirit using 100% Australian rye.</p>"
    }
  ],
  "presets": [
    {
      "category": "Advanced",
      "name": "About Us",
      "settings": {}
    }
  ]
}
{% endschema %}