<div class="gw-ag-container">
  <div class="gw-ag-inner">
    <div class="gw-ag-title">YOU MUST BE OF LEGAL DRINKING AGE TO ENTER THIS SITE</div>

    <div class="gw-ag-form">
      <div class="gw-ag-text">ARE YOU OF LEGAL DRINKING AGE?</div>
      <div class="gw-ag-button-box gw-ag-button-box--yes">
        <div class="gw-button-side gw-button-side--left">|<br>|<br>|<br>|<br>|<br>|<br>|</div>
        <button type="submit" class="gw-ag-button js-ag-dob-enter">Yes</button>
        <div class="gw-ag-button-side gw-ag-button-side--right">|<br>|<br>|<br>|<br>|<br>|<br>|</div>
      </div>
      <div class="gw-ag-button-box gw-ag-button-box--no">
        <div class="gw-button-side gw-button-side--left">|<br>|<br>|<br>|<br>|<br>|<br>|</div>
        <button type="submit" class="gw-ag-button">No</button>
        <div class="gw-ag-button-side gw-ag-button-side--right">|<br>|<br>|<br>|<br>|<br>|<br>|</div>
      </div>
    </div>
    <div class="gw-ag-terms">
      You must be of legal drinking age in your respective country for entry. By entering you accept our terms and conditions & our privacy & cookie policy. We encourage drinking responsibly.
    </div>
  </div>
</div>
