<section>
  
</section>

{% schema %}
{
  "name": "Featured Section",
  "class": "shopify-section--bordered",
  "settings": [
  ],
  "presets": [
    {
      "category": "Section",
      "name": "Featured Section",
      "settings": {}
    }
  ]
}
{% endschema %}