<section class="general-form-section">

    <h1 class="form-title text-center">Title Here</h1>
    <p class="form-description text-center">Description Here</p>
  <div class="klaviyo-form-RaEVas"></div>
</section>
<script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=XHqzwg"></script>

<style>
</style>
{% schema %}
{
  "name": "General Form Section",
  "settings": [
    {
      "type": "text",
      "id": "form_title",
      "label": "Form  Title",
      "default": "Title Here"
    },
    {
      "type": "textarea",
      "id": "form_description",
      "label": "Form Description",
      "default": "Description Here"
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "General Form Section",
      "settings": {}
    }
  ]
}
{% endschema %}