<div id="age-verification" >
  <div class="age-verification-main">
    <span class="age-title">{{section.settings.title}}</span>
    <div class="age-verification-btn">
      <button id="yesAge" class="age-button age-yes" onclick="ageVerificationConfirm()">
        <span> |<br>| </span>
        YES
        <span> |<br>| </span>
      </button>
      <button id="noAge" class="age-button age-no" onclick="ageVerificationFailed()">
        <span>|<br>|</span>
        NO
        <span>|<br>|</span>
      </button>
    </div>
    <span class="age-main-text">WHERE ARE YOU?</span>
    <div class="age-verification-btn">
      <button class="age-button age-yes" onclick="ausPortal()"><span>|<br>|</span>AUS<span>|<br>|</span></button>
      <button class="age-button age-no" onclick="usaPortal()"><span>|<br>|</span>USA<span>|<br>|</span></button>
    </div>
    <span class="age-main-text"></span>
    <div class="age-legal">
      You must be of legal drinking age in your respective country for entry. By entering you accept our terms and conditions & our privacy & cookie policy. We encourage drinking responsibly. 
    </div>

{% comment %}    <div class="gw-ag-form">
      <div class="gw-ag-text">WHERE ARE YOU?</div>
      <div class="gw-ag-button-box gw-ag-button-box--yes">
        <div class="gw-button-side gw-button-side--left">|<br>|<br>|<br>|<br>|<br>|<br>|</div>
        <button type="submit" class="gw-ag-button js-ag-dob-enter">AUS</button>
        <div class="gw-ag-button-side gw-ag-button-side--right">|<br>|<br>|<br>|<br>|<br>|<br>|</div>
      </div>
      <div class="gw-ag-button-box gw-ag-button-box--no">
        <div class="gw-button-side gw-button-side--left">|<br>|<br>|<br>|<br>|<br>|<br>|</div>
        <button type="submit" class="gw-ag-button">USA</button>
        <div class="gw-ag-button-side gw-ag-button-side--right">|<br>|<br>|<br>|<br>|<br>|<br>|</div>
      </div>
    </div>{% endcomment %}
  </div>
</div>
<style>
  
#age-verification {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000054;
  -webkit-transition: 500ms;
  transition: 500ms;
  z-index: 90000001;
  display: block;
}

.age-verification-main {
  background-color: #fff6e6;
  color: black;
  font-size: 13pt;
  padding: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 246, 230);
  width: 100vw;
  max-width: 520px;
  -webkit-box-shadow: 1px 2px 9px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 2px 9px 0px rgba(0,0,0,0.3);
  box-shadow: 1px 2px 9px 0px rgba(0,0,0,0.3);
}
.age-verification-btn {
    width: 100%;
    padding: 0px 40px;
    display: flex;
    flex-wrap: wrap;
  }

  .age-main-text:before{
    content: "******************************************************************************************************************************************************************";
    font-size: 16px; 
    line-height: 1.2; 
    color: #000; 
    text-transform: none; 
    letter-spacing: 0;
    line-height: 0.5;
    overflow: hidden;
    display: block;
    position: absolute;
    top: 0;
    left: 40px;
    width: calc(100% - 80px);
  }
  
  .age-title, .age-main-text {
    width: 100%;
    padding: 40px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

  .age-main-text{
    padding-bottom: unset;
  }
  
  .age-button:before {
  content: "----------------------------------------------";
  font-family: var(--text-font-family);
  font-size: 16px;
  line-height: 1.2;
  color: #000;
  text-transform: none;
  letter-spacing: 0;
  line-height: 0.5;
  overflow: hidden;
  display: block;
  width: 100%;
  white-space: nowrap;
  position: relative;
  top: 5px;
  left: 0;
}  
  
.age-button:after {
  content: "----------------------------------------------";
  font-family: var(--text-font-family);
  font-size: 16px;
  line-height: 1.2;
  color: #000;
  text-transform: none;
  letter-spacing: 0;
  line-height: 0.5;
  overflow: hidden;
  display: block;
  width: 100%;
  white-space: nowrap;
  position: relative;
  bottom: 10px;
  left: 0;
}  
  
  
.age-button {
  -webkit-box-shadow: 1px 2px 9px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 2px 9px 0px rgba(0,0,0,0.3);
  box-shadow: 1px 2px 9px 0px rgba(0,0,0,0.3);
}

  .age-button {
    border: none;
    font-size: 16pt;
    color: black;
    width: 150px;
    padding: 10px 0px;
    margin: 5px 0px;
    box-shadow: unset;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .age-button.age-yes {
    margin-right: 30px;
  }
  
  .age-legal:before{
/*
    content: "******************************************************************************************************************************************************************";
*/
    font-family: "MagdaPro";
    font-size: 16px;
    line-height: 1.2;
    color: #000;
    text-transform: none;
    letter-spacing: 0;
    line-height: 0.5;
    overflow: hidden;
    display: block;
    position: relative;
    bottom: 0;
    left: 40px;
    width: calc(100% - 80px);
  }

  .age-legal {
    font-size: 16px;
    line-height: 1.2;
    color: #000;
    text-transform: none;
    letter-spacing: 0;
    padding: 0px 30px 20px 30px;
    width: 100%;
  }
  
  .age-title {
    font-family: var(--heading-font-family);
    font-size: 24px;
    text-transform: uppercase;
    color: #000;
    line-height: 1.4;
    letter-spacing: 1.8px;
    width: 100%;
    padding: 40px 40px;
  }

  .age-credits a {
    color: black;
  }
</style>
{% schema %}
  {
    "name": "Geo Location",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "YOU MUST BE OF LEGAL DRINKING AGE TO ENTER THIS SITE"
      },
      {
        "type": "text",
        "id": "body",
        "label": "Body",
        "default": "ARE YOU OF LEGAL DRINKING AGE?"
      },
      {
        "type": "text",
        "id": "license",
        "label": "License",
        "default": "32809785"
      },
      {
        "type": "text",
        "id": "exit_link",
        "label": "Exit Link (Leave blank for default action)"
      }
	],
    "presets": [
      {
        "name": "Geo Location"
      }
    ]
  }
{% endschema %}

