<div id="geoLocation-verification" >
  <div class="geoLocation-main">
    <span class="geoLocation-title">
    	IT LOOK LIKE YOU ARE IN THE UNITED STATES
    </span>
    
    <span class="geoLocation-main-text">WANT TO SWITCH TO OUR USA SHOP?</span>
    <div class="geoLocation-btn-group">
      <button class="geoLocation-button geoLocation-yes">
        <span>|<br>|</span>
        YES
        <span>|<br>|</span>
      </button>
      <button class="geoLocation-button geoLocation-no">
        <span>|<br>|</span>
        NO
        <span>|<br>|</span>
      </button>
    </div>
    <span class="geoLocation-main-text"></span>

  </div>
</div>
<style>

  #geoLocation-verification {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000054;
    -webkit-transition: 500ms;
    transition: 500ms;
    z-index: 90000001;
    display: block;
  }

  .geoLocation-main {
    background-color: #fff6e6;
    color: black;
    font-size: 13pt;
    padding: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 246, 230);
    width: 100vw;
    max-width: 520px;
    -webkit-box-shadow: 1px 2px 9px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 2px 9px 0px rgba(0,0,0,0.3);
    box-shadow: 1px 2px 9px 0px rgba(0,0,0,0.3);
  }
  .geoLocation-btn-group {
    width: 100%;
    padding: 0px 40px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px
  }

  .geoLocation-main-text:before{
    content: "******************************************************************************************************************************************************************";
    font-size: 16px; 
    line-height: 1.2; 
    color: #000; 
    text-transform: none; 
    letter-spacing: 0;
    line-height: 0.5;
    overflow: hidden;
    display: block;
    position: absolute;
    top: 0;
    left: 40px;
    width: calc(100% - 80px);
  }

  .geoLocation-title, .geoLocation-main-text {
    width: 100%;
    padding: 30px 40px 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
  }

  .age-main-text {
    padding-bottom: unset;
  }

  .geoLocation-button:before, .geoLocation-button:after {
      content: "----------------------------------------------";
      font-family: var(--text-font-family);
      font-size: 16px;
      line-height: .4;
      color: #000;
      text-transform: none;
      letter-spacing: 0;
      overflow: hidden;
      width: 100%;
      white-space: nowrap;
      height: 6px;
      display: flex;
      align-items: center;
   }
  .geoLocation-button:hover:after, .geoLocation-button:hover:before{
    color:white
  }

  .geoLocation-button {
    -webkit-box-shadow: 1px 2px 9px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 2px 9px 0px rgba(0,0,0,0.3);
    box-shadow: 1px 2px 9px 0px rgba(0,0,0,0.3);
    border: none;
    font-size: 16pt;
    color: black;
    width: 150px;
    margin: 5px 0px;
    box-shadow: unset;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: relative
  }
  .geoLocation-button:hover {
    background: black;
    color: white;
  }

  .geoLocation-button.geoLocation-yes {
    margin-right: 30px;
  }

  .geoLocation-title {
    font-family: var(--heading-font-family);
    font-size: 24px;
    text-transform: uppercase;
    color: #000;
    line-height: 1.4;
    letter-spacing: 1.8px;
    width: 100%;
    padding: 40px 40px;
  }

</style>
{% schema %}
  {
    "name": "Geo Location",
    "settings": [
	],
    "presets": [
      {
        "name": "Geo Location"
      }
    ]
  }
{% endschema %}

