<div id="geoLocation-popup" >
  <div class="geoLocation-main">
    <span class="geoLocation-title">{{section.settings.title}}</span>
    
    <span class="geoLocation-main-text">{{section.settings.body}}</span>
    <div class="geoLocation-btn-group">
      <button class="geoLocation-button age-yes">
        <span>|<br>|</span>AUS<span>|<br>|</span>
      </button>
      <button class="geoLocation-button age-no">
        <span>|<br>|</span>USA<span>|<br>|</span>
      </button>
    </div>
    <span class="age-main-text"></span>
  </div>
</div>

<style>
  #geoLocation-popup {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 99;
    background: rgb(0 0 0 / 50%);
  }
  #geoLocation-popup .geoLocation-main {
    background-color: #fff6e6;
    color: black;
    font-size: 13pt;
    padding: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 246, 230);
    width: 100vw;
    max-width: 520px;
    -webkit-box-shadow: 1px 2px 9px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 2px 9px 0px rgba(0,0,0,0.3);
    box-shadow: 1px 2px 9px 0px rgba(0,0,0,0.3);
  }
  #geoLocation-popup .geoLocation-btn-group {
    width: 100%;
    padding: 0px 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 30px
  }
  #geoLocation-popup .geoLocation-button {
    border: none;
    font-size: 16pt;
    color: black;
    width: 150px;
    box-shadow: unset;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  #geoLocation-popup .geoLocation-button:before, #geoLocation-popup .geoLocation-button:after {
    content: "----------------------------------------------";
    font-family: var(--text-font-family);
    font-size: 16px;
    color: #000;
    text-transform: none;
    letter-spacing: 0;
    line-height: 0.4;
    overflow: hidden;
    display: block;
    width: 100%;
    white-space: nowrap;
    position: relative;
 }
  #geoLocation-popup .geoLocation-button:hover {
    background: black;
    color:white
  }
  #geoLocation-popup .geoLocation-title {
    font-family: var(--heading-font-family);
    font-size: 24px;
    text-transform: uppercase;
    color: #000;
    line-height: 1.4;
    letter-spacing: 1.8px;
  }
  #geoLocation-popup .geoLocation-title, #geoLocation-popup .geoLocation-main-text {
    width: 100%;
    padding: 30px 40px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
  }
  #geoLocation-popup .geoLocation-main-text:before {
    content: "******************************************************************************************************************************************************************";
    font-size: 16px;
    line-height: 1.2;
    color: #000;
    text-transform: none;
    letter-spacing: 0;
    line-height: 0.5;
    overflow: hidden;
    display: block;
    position: absolute;
    top: 0;
    left: 40px;
    width: calc(100% - 80px);
  }
</style>

{% schema %}
  {
    "name": "Geolocation Popup",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "IT LOOKS LIKE YOU ARE IN THE UNITED STATES"
      },
      {
        "type": "text",
        "id": "body",
        "label": "Body",
        "default": "WANT TO SWITCH TO OUR USA SHOP?"
      }
	],
    "presets": [
      {
        "category": "Section",
        "name": "Geolocation Popup",
        "settings": {}
      }
    ]
  }
{% endschema %}

