<div id="geoLocation-popup" >
  <div class="geoLocation-main">
    <span class="age-title">{{section.settings.title}}</span>
    <span class="age-main-text">{{section.settings.body}}</span>
    
    <span class="age-main-text">WHERE ARE YOU?</span>
    <div class="age-verification-btn">
      <button class="age-button age-yes" onclick="ausPortal()"><span>|<br>|</span>AUS<span>|<br>|</span></button>
      <button class="age-button age-no" onclick="usaPortal()"><span>|<br>|</span>USA<span>|<br>|</span></button>
    </div>
    <span class="age-main-text"></span>
    <div class="age-legal">
      You must be of legal drinking age in your respective country for entry. By entering you accept our terms and conditions & our privacy & cookie policy. We encourage drinking responsibly. 
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Geolocation Popup",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "IT LOOKS LIKE YOU ARE IN THE UNITED STATES"
      },
      {
        "type": "text",
        "id": "body",
        "label": "Body",
        "default": "WANT TO SWITCH TO OUR USA SHOP?"
      }
	],
    "presets": [
      {
        "category": "Section",
        "name": "Geolocation Popup",
        "settings": {}
      }
    ]
  }
{% endschema %}

